body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
.searchBar{
  display: flex;
  gap: 1rem;
}
input{
  width: 400px;
  padding-block: 0.3rem;
  font-size: larger;
  border-radius: 1rem;
  font-weight: bold;
  border: 3px solid yellow;
  outline: none;
}
.searchButton{
  padding-block: 0.3rem;
  font-size: large;
  font-weight: bold;
  border-radius: 1rem;
  color: yellow;
  background-color: black;
  border: 2px solid yellow;
}
